nav {
  margin-bottom: 2em; 
}

/* label focus color */
html body .container .input-field input[type=number]:focus + label {
  color: #c62828;
}

/* label underline focus color */
html body .container .input-field input[type=number]:focus {
  border-bottom: 1px solid #c62828;
  box-shadow: 0 1px 0 0 #c62828;
}

.collection-item::before {
  content: 'Towards '
}
